<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
  <apikeys>
		<add key="http://go.microsoft.com/fwlink/?LinkID=207106" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA3h9USA/iV0qYF6RAdxicXwAAAAACAAAAAAADZgAAwAAAABAAAAB9GJt04CPyNhhaivfIfF1PAAAAAASAAACgAAAAEAAAAH+r01bY9wKww4hioDbAa/MoAAAAy4fErSSqlNdUKwKcwtwelTqpGqN3xOS2Ll6csAPPfbHEWKoJgkzjxRQAAAA394w4kOMvv7YyWoG2/0HtoMZfow==" />
		<add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA3h9USA/iV0qYF6RAdxicXwAAAAACAAAAAAADZgAAwAAAABAAAACUXz/iEGXR+bZgPdBrwt+DAAAAAASAAACgAAAAEAAAAJbJVIfdN14zhzlfud+H3GYoAAAAZ4Jy3GQxOMfX1eL8uD8uufte6dcO5n6KmAR73jX+WMwffJshDsZqPhQAAAAll/8CFkMU4MK7CGPK4mXzXUQ2PA==" />
		<add key="http://nuget.adcastgroup.com/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA3h9USA/iV0qYF6RAdxicXwAAAAACAAAAAAADZgAAwAAAABAAAAA1ZMxf9A0ymw/a+uZYG7yfAAAAAASAAACgAAAAEAAAAMPeXWovKPsu+7VH9v8WAAQoAAAAl6sBN4cMxzHqKGWOd6m/M5EMEduxsOguUs/DVOyxAAldlJkAx466TBQAAAAwPoXxBzOLl4Iz/grEpk3h3ndCnA==" />
	</apikeys>
	<activePackageSource>
		<!--<add key="NuGet official package source" value="https://go.microsoft.com/fwlink/?LinkID=230477" />-->
		<add key="Daedalus Third Party Package Source" value="http://nuget.adcastgroup.com/nuget/" />
	</activePackageSource>
	<packageSources>
		<add key="Daedalus Third Party Package Source" value="http://nuget.adcastgroup.com/nuget/" />
		<add key="NuGet official package source" value="https://nuget.org/api/v2/" />
	</packageSources>
	<disabledPackageSources />
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>